<h1>New Restaurant</h1>

<%= form_with scope: :restaurant, url: restaurants_path, local: true  do |f| %>
  <div class="field">
    <%= f.label :restaurant_name %>
    <%= f.text_field :restaurant_name %>
  </div>

  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>
